spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/learning_platform
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: true

    defer-datasource-initialization: true


  sql:
    init:
      mode: never

  h2:
    console:
      enabled: false

server:
  port: 8080

logging:
  level:
    com.education.platform: DEBUG
    org.hibernate.SQL: false
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE